root = true

[*.{cpp,c,h,hpp}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true

[*.{hlsl,hlsli}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.{vcxproj,filters,props,targets,sln}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
